{% extends 'base.html' %}

{% block content %}

<div class="container p-5 my-5 border">
    <h1>{{ book.title }}</h1>
    <p>Autor: {{ book.author.name if book.author else 'Sin autor' }}</p>

    {% if book.cover %}
        <img src="{{ book.cover }}" alt="Portada del Libro" style="max-width: 300px; height: auto;">
    {% endif %}

    {% if book.description %}
        <p>{{ book.description }}</p>
    {% else %}
        <p>No hay descripción disponible para este libro.</p>
    {% endif %}

    <p>Copias disponibles: {{ num_available_copies }}</p>

    {% if num_available_copies > 0 %}
    <p><button><a href="/reserve?id={{book.id}}">Reservar Libro</a></button></p>
    {% else %}
    <p><button id="reservarBtnDisabled" disabled>No hay copias disponibles</button></p>
    {% endif %}

    <h3>Reseñas:</h3>
    {% for resenna in resennas %}
        <hr>
        <div>
            <p>{{resenna.comment}}</p>
            <p>Puntuación: {{resenna.puntuacion}}</p>
            <span>User: {{resenna.Usuario.username}}</span>
        </div>

    {% endfor %}


</div>

{% endblock %}
