<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container">
    <h1>{{ book.title }}</h1>
    <p>Autor: {{ book.author.name }}</p>
    
    {% if book.cover %}
        <img src="{{ book.cover }}" alt="Portada del Libro" style="max-width: 300px; height: auto;">
    {% endif %}

    {% if book.description %}
        <p>{{ book.description }}</p>
    {% else %}
        <p>No hay descripción disponible para este libro.</p>
    {% endif %}

    <p><button id="reservarBtn">Reservar Libro</button></p>

    <a href="/catalogue">Volver al catálogo</a>
</div>

</body>
</html>
