{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Mi perfil: {{user}}</h1>
</div>

<div class="container p-5 my-5 border">
    <h3>Libros en Reserva:</h3>

    <ul>
        {% if libros_en_reserva %}
            {% for libro in libros_en_reserva %}
                <li>{{ libro.titulo }} - {{ libro.autor }}</li>
                 <button><a href="/devolverUnLibro?reservaId={{ libro.id }})">Devolver Libro</a></button>
            {% endfor %}
        {% else %}
            <p>No hay Libros en Reserva.</p>
        {% endif %}
    </ul>

</div>

<div class="container p-5 my-5 border">
    <h3>Historial de Lectura:</h3>

     <ul>
        {% if historial_lectura %}
            {% for libro in historial_lectura %}
                <li>{{ libro.titulo }} - {{ libro.autor }}</li>
                <button><a href="/resenna/{{ libro.id }}">Reseñar</a></button>
            {% endfor %}
        {% else %}
            <p>No hay Libros en Historial de Lectura.</p>
        {% endif %}
    </ul>

</div>

{% endblock %}