{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Mi perfil: {{user}}</h1>
</div>

<div class="container p-5 my-5 border">
    <h3>Libros en Reserva:</h3>

   <ul>
       {% for libro in libros %}
            <li>{{ libro[0] }}
                <form action="/devolver_libro/{{ libro[1] }}" method="post">
                    <input type="submit" value="Devolver">
                </form>
            </li>
       {% endfor %}
   </ul>

</div>


<div class="container p-5 my-5 border">
    <h3>Historial de Lectura:</h3>

    <!-- ¿Enlace para reseña?
    <a href="/formulario_resena/{{ libro.idLibro }}">Dejar una reseña</a>-->

</div>

{% endblock %}